<div class="container main-content">
  <%= render 'layouts/back_btn' %>
  <div class="col-lg-6 mx-auto content">
    <div class="card card-default input-form">
      <div class="card-header text-center">Login</div>
      <div class="card-body">
        <%= form_with(url: login_path, method: 'post', local: true) do |f| %>
          <div class="form-horizontal col-md-9 mx-auto">
            <% if @user_auth.errors[:login].present? %>
              <span class="form-text"><b><%= @user_auth.errors[:login][0] %></b></span>
            <% end %>
            <div class="form-group">
              <label for="email" class="control-label">E-Mail Address</label>
              <%= f.text_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
              <% if @user_auth.errors[:email].present? %>
                <span class="form-text"><b><%= @user_auth.errors[:email][0] %></b></span>
              <% end %>
            </div>
            <div class="form-group my-3">
              <label for="password" class="control-label">Password</label>
              <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
              <% if @user_auth.errors[:password].present? %>
                <span class="form-text"><b><%= @user_auth.errors[:password][0] %></b></span>
              <% end %>
            </div>
            <div class="form-group">
              <a href="">Forgot Your Password?</a>
            </div>
            <div class="form-group col-md-12 text-center">
              <%= f.submit "Login", class: "btn btn-primary"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>