<div class="container main-content">
  <%= render 'layouts/back_btn' %>
  <%= form_with(model: @user, url: password_update_path, local: true, method: :patch) do |f| %>
    <div class="row content">
      <div class="col-md-6 mx-auto">
        <div class="card input-form">
          <div class="card-header text-center">Change Password</div>
          <div class="card-body col-md-8 mx-auto user-form">
            <div class="form-group">
              <%= f.label :current_password, 'Current Password', class: "control-label" %>
              <%= f.password_field :current_password, class: "form-control", placeholder: "Enter Current Password" %>
              <% if @user.errors[:current_password].present? %>
                <span class="form-text"><b><%= @user.errors[:current_password][0] %></b></span>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :password, 'New Password', class: "control-label" %>
              <%= f.password_field :password, class: "form-control", placeholder: "Enter New Password" %>
              <% if @user.errors[:password].present? %>
                <span class="form-text"><b><%= @user.errors[:password][0] %></b></span>
              <% end %>
            </div>
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>