<div class="container main-content">
  <%= render 'layouts/back_btn' %>
  <div class="col-lg-6 mx-auto content">
    <div class="card card-default input-form">
      <div class="card-header text-center">Edit Profile</div>
      <div class="card-body">
        <%= form_with(model: @user, url: profile_update_path, local: true, method: :patch) do |f| %>
          <div class="form-horizontal col-md-9 mx-auto user-form">
            <div class="form-group">
              <%= f.label :name, class: "control-label" %>
              <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
              <% if @user.errors[:name].present? %>
                <span class="form-text"><b><%= @user.errors[:name][0] %></b></span>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :email, class: "control-label" %>
              <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
              <% if @user.errors[:email].present? %>
                <span class="form-text"><b><%= @user.errors[:email][0] %></b></span>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :username, class: "control-label" %>
              <%= f.text_field :username, class: "form-control", placeholder: "UserName" %>
              <% if @user.errors[:username].present? %>
                <span class="form-text"><b><%= @user.errors[:username][0] %></b></span>
              <% end %>
            </div>
            <div class="form-group">
              <div><%= f.label :gender, class: "control-label" %></div>
              <div class="form-check form-check-inline">
                <%= f.radio_button :gender, 'm', class: 'form-check-input' %>
                <%= f.label :gender, 'Male', class: "form-check-label", value: 'm' %>
              </div>
              <div class="form-check form-check-inline">
                <%= f.radio_button :gender, 'f', class: 'form-check-input' %>
                <%= f.label :gender, 'Female', class: "form-check-label", value: 'f' %>
              </div>
              <% if @user.errors[:gender].present? %>
                <span class="form-text"><b><%= @user.errors[:gender][0] %></b></span>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :address, class: "control-label" %>
              <%= f.text_field :address, class: "form-control", placeholder: "Address" %>
              <% if @user.errors[:address].present? %>
                <span class="form-text"><b><%= @user.errors[:address][0] %></b></span>
              <% end %>
            </div>
            <div class="form-group col-md-12 text-center">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
