<div class="container main-content position-relative">
  <%= render 'layouts/back_btn' %>
  <div class="col-md-6 mx-auto align-middle content">
    <%= render 'layouts/flash_msg' %>
    <div class="card card-default">
      <div class="card-header text-center">User Profile</div>
      <div class="card-body col-md-10 mx-auto">
        <div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <span class="mb-2">Name : </span>
                <span><%= current_user.name %></span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <span class="mb-2">Username : </span>
                <span><%= current_user.username %></span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <span class="mb-2">Email : </span>
                <span><%= current_user.email %></span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <span class="mb-2">Gender : </span>
                <span><%= current_user.gender == 'm' ? 'Male' : 'Female' %></span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <span class="mb-2">Address : </span>
                <span><%= current_user.address %></span>
              </div>
            </li>
          </ul>
        </div>
        <div class="profile-btns">
          <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-confirm-modal">Delete</a>
          <%= link_to 'Edit Profile', profile_edit_path, class: 'btn btn-light float-right edit-profile-btn' %>
          <%= link_to 'Change Password', password_edit_path, class: 'btn btn-light float-right' %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/confirm_delete', msg: 'Please confirm your account will be deleted.', delete_path: profile_delete_path, btn_txt: 'Delete My Account' %>
</div>