<%= form_with(model: @post, local: true) do |f| %>
  <div class="form-wrapper">
    <div class="form-group">
      <%= f.label :title, class: "control-label" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
      <% if @post.errors[:title].present? %>
        <span class="form-text"><b><%= @post.errors[:title][0] %></b></span>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :message, class: "control-label" %>
      <%= f.text_area :message, class: "form-control", placeholder: "Message", size: '50x10' %>
      <% if @post.errors[:message].present? %>
        <span class="form-text"><b><%= @post.errors[:message][0] %></b></span>
      <% end %>
    </div>
    <div class="form-check">
      <%= f.check_box :is_public, class: "form-check-input", checked: true %>
      <%= f.label :is_public, 'Show on public?', class: "form-check-label" %>
    </div>
    <div class="col-md-12 text-center">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
