<%= render "layouts/nav" %>

<div class="container main-content position-relative">
  <div class="row">
    <div class="col-lg-12 margin-tb">
      <%= render 'layouts/flash_msg' %>
      <h2 class="float-start">Bulletin Board</h2>
      <div class="float-end">
        <%= link_to 'Add Post', new_post_path, class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row posts-layout">
        <% @posts.each do |post| %>
          <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card news-card <%= "not-public-news" unless post.is_public %>">
              <%= link_to post_path(post) do %>
                <div class="card-header">
                <span class="card-title">
                  <strong><%= post.title %></strong>
                </span>
                </div>
                <div class="card-body">
                  <p class="card-text"><%= truncate(post.message, length: 100) %></p>
                </div>
              <% end %>
              <div class="card-footer">
                <small class="text-muted"><%= time_ago_in_words(post.updated_at) %> ago</small>
                <span>
                  <% if logged_in? && post.user == current_user %>
                    <%= link_to edit_post_path(post), class: 'edit-btn' do %>
                      <i class="far fa-edit"></i>
                    <% end %>
                    <a href="#" class="delete-btn" data-id="<%= post.id %>" data-bs-toggle="modal" data-bs-target="#delete-confirm-modal">
                      <i class="far fa-trash-alt"></i>
                    </a>
                <% end %>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <nav class="page-navigation">
        <%= will_paginate @posts, :container => false %>
      </nav>

      <%= render 'layouts/confirm_delete', msg: 'Please confirm this post will be delete.', delete_path: post_delete_path, btn_txt: 'Delete' %>
    </div>
  </div>
</div>