<div class="container main-content position-relative">
  <%= render 'layouts/back_btn' %>
  <div class="col-md-10 mx-auto align-middle content">
    <%= render 'layouts/flash_msg' %>
    <div class="card card-default">
      <div class="card-header text-center">
        <strong><%= @post.title %></strong>
      </div>
      <div class="card-body mx-auto">
        <p><%= @post.message %></p>
      </div>
      <div class="card-footer">
        <small><%= time_ago_in_words(@post.updated_at) %> ago</small>
        <% if logged_in? && @post.user == current_user %>
          <div class="float-right">
            <%= link_to edit_post_path(@post), class: 'edit-btn' do %>
              <i class="far fa-edit"></i>
            <% end %>
            <a href="#" class="delete-btn" data-id="<%= @post.id %>" data-bs-toggle="modal" data-bs-target="#delete-confirm-modal">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'layouts/confirm_delete', msg: 'Please confirm this post will be delete.', delete_path: post_delete_path, btn_txt: 'Delete' %>
  </div>
</div>