body {
  font-family: 'Klee One', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #61a4ff;
}

h2, h3, h4, strong {
  font-weight: 700;
}

.main-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content {
  margin-top: 35px;
}

.user-icon {
  padding-right: 0;
}

.navbar {
  background-color: #e3f2fd;
}

.register-btn {
  margin-left: 10px;
}

.username {
  margin-left: 9px;
}

.news-btn-groups {
  display: block;
}

.toast.bg-success {
  background-color: #5cbd97 !important;
}

.pagination {
  display: inline-block;
  padding: 0;
  margin: 50px 0;

  li {
    float: left;
    border: 1px solid #ddd;
    margin-left: -1px;

    &.active {
      border: 1px solid #007bff;
    }
  }

  .pagination a, span {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }
}

.pagination li .pagination li.active span {
  background-color: #007bff;
  color: white;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
  border: 1px solid #ddd;
}

.pagination li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page-navigation {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  color: #292c2c;

  a, span, em {
    padding: 0.2em 0.5em;
    border-radius: 5px;
  }

  .disabled {
    color: #aaaaaa;
    display: none;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    color: #61a4ff;
  }

  a {
    border: 2px solid #61a4ff;
    text-decoration: none;
    &:hover, &:focus {
      border-color: #61a4ff;
      background: #61a4ff;
      color: white;
    }
  }

  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }

  .previous_page, .next_page {
    border-width: 2px;
  }
}

.card {
  margin-top: 11px;

  .card-footer {
    display: flex;
    justify-content: space-between;
  }
}

.single-card {
  margin-top: 50px;
}

.news-card:hover {
  box-shadow: 0 0 15px 3px rgba(120, 185, 255, 0.3);
  transition: 0.5s box-shadow;
}

.not-public-news {
  background-color: #eff5fa !important;
}

.news-card a:not(.edit-btn) {
  color: #454545;
}

.fa-trash-alt {
  color: #fc5656;
}

.fa-trash-alt:hover {
  color: #c43535;
}

.btn-primary {
  background-color: #1e8dff;
  border-color: #1e8dff;
  font-weight: bold;
}

.edit-btn:hover {
  text-decoration: none;
}

.delete-btn {
  margin-left: 6px;
  outline: none;
}

.profile-btns {
  margin-top: 20px;
}

.input-form {
  border: none;
  box-shadow: 0 0 40px 10px rgba(120, 185, 255, 0.3);

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1.5em;
    padding: 2rem;

    label {
      margin-bottom: 10px;
    }
  }
}

.form-text {
  color: #fb7474;
}

.user-form {
  .form-group {
    margin-bottom: 1.5em;
  }
}

#user-delete-form {
  display: inline;
}

.edit-profile-btn {
  margin-left: 10px;
}

.login-btn {
  margin-top: 20px;
}