<!-- Confirm delete Modal -->
<div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmPost" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmBoxTitle"><%= msg %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= form_with(url: delete_path, local: true, method: :delete) do |f| %>
          <%= f.hidden_field :id, value: "id" %>
          <%= f.submit btn_txt, class: "btn btn-primary post-delete-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>