<div aria-live="polite" aria-atomic="true" class="position-absolute top-0 end-0" style="min-height: 200px;">
  <% flash.each do |name, msg| %>
    <div class="toast text-white bg-<%= name == "notice" ? "success" : "danger" %> border-0 fade show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <%= msg %>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  <% end %>
</div>