<nav class="navbar navbar-light">
  <div class="container justify-content-end">
    <% if logged_in? %>
      <% if current_user.is_admin? %>
      <span class="badge bg-primary">Admin</span>
      <% end %>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle user-icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
          <i class="fas fa-user-circle fa-lg"></i>
          <span class="username"><%= current_user.username %></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Profile', profile_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Log out', logout_path, class: "dropdown-item", method: :post %>
        </div>
      </div>
    <% else %>
      <div>
        <%= link_to 'Login', login_path, class: 'btn btn-outline-primary' %>
        <%= link_to 'Register', register_path, class: 'btn btn-outline-primary' %>
      </div>
    <% end %>
  </div>
</nav>